@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  box-sizing: border-box;
}
.container {
  width: 960px;
  margin: 0 auto;
}

.logo {
  background-image: url('img/logo.svg');
  height: 39px;
  width: 102px;
  margin-right: 32px;
}
nav {
  margin: 24px 0px;
}
nav .container {
  display:  flex;
  align-items: center;
}
nav .links {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
nav .links div{
  display: flex;
}
nav .link {
  font-size: 16px;
  color: #344051;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items:center;
  margin-right: 32px;
}
nav .link:nth-child(2n) {
  margin-right: 0px;
}

nav .link svg {
  margin-right: 16px;
}

hr {
  border: none;
  background-color: #ced2da;
  color: #ced2da;
  height: 1px !important;
}

main .pizza {
  width: 298px;
  margin: 48px 0px;
}

.pizza img {
  width: 220px;
  height: 220px;
  margin: 0 auto;
  display: block;
}

.pizza .title {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  margin-top: 24px;
  margin-bottom: 8px;
  color: #292929;
}

.pizza .description {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 32px;
  font-family: "Inter", sans-serif;
  color: #535353;
  height: 72px;
}

.pizza .price {
  margin-top: 0px;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  font-family: "Inter", sans-serif;
  color: #292929;
}

.pizza .button {
  border-radius: 16px;
  padding: 16px 32px;
  width: 298px;
  height: 56px;
  background-color: #f4511e;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}

main .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}